/* Algemene achtergrond en tekstkleuren */
body {
    background: linear-gradient(to bottom, #7a9e7e, #31493c);
    color: #e8f1f2;
    font-family: Arial, sans-serif;
}

/* Navigatie */
.navbar {
    background-color: #2e4731 !important;
}

.navbar-brand {
    border: 2px solid #e8f1f2;
    background-color: #4caf50;
    color: white !important;
}

.nav-link {
    color: #e8f1f2 !important;
}

.nav-link:hover {
    color: #a2fca5 !important;
}

/* Home animatie */
.home-title {
    animation: moveUpDown 3s ease-in-out infinite;
    color: #d1ffbd;
}

@keyframes moveUpDown {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

/* Profielafbeelding */
.profile-image {
    width: 200px;
    height: 300px;
    border-radius: 20px;
    border: 1px solid #001a23;
    box-shadow: 3px 3px #1d2c23;
    background-color: #e8f1f2;
}

/* Projectkaarten */
.project-card {
    background-color: #3b5844;
    color: #e8f1f2;
    border: 1px solid #1a2b1d;
    border-radius: 10px;
    box-shadow: 3px 3px #263d2d;
    transition: transform 0.3s ease-in-out;
}

.project-img {
    max-height: 200px;
    object-fit: contain;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    background-color: #ffffff;
}

.project-img:hover {
    transform: scale(1.05);
}

/* Skills */
.skill-bar {
    height: 20px;
    background-color: #cce8cc;
    border-radius: 5px;
    overflow: hidden;
}

.skill-level {
    height: 100%;
    border-radius: 5px;
}

.js {
    width: 70%;
    background-color: #f0db4f;
}

.html {
    width: 80%;
    background-color: #e34f26;
}

.css {
    width: 75%;
    background-color: #264de4;
}

.php {
    width: 80%;
    background-color: purple;
}

/* Links */
a {
    color: #b3efb2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #d1ffbd;
}

/* Footer */
footer {
    background-color: #1d2c23;
    border-top: 2px solid #b2dfdb;
    color: #e8f1f2;
}

/* Portfolio Info Sectie */
#portfolio-info h3 {
    margin-top: 2rem;
}

#portfolio-info div[style] {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}
